<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'/>
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<input type='file' id='fileInput' accept='.csv'>
	<button type='button' id='worthButton'>Calculate worth</button>
	<div id='root'></div>
</body>
</html>