<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'/>
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<input type='file' id='fileInput' accept='.csv'>
	<input type='text' id='textInput' value='voo'>
	<div>
		<button type='button' id='calculateButton'>Calculate</button>
	</div>
	<div id='root'></div>
</body>
</html>